<table class="table text-center mt-3">
    <thead>
        <tr>
            <th>{{(!nombreJugadorMarcador) ? 'JUGADOR' : nombreJugadorMarcador}}</th>
            <th>PC</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{marcadorActual.puntuacion_jugador}}</td>
            <td>{{marcadorActual.puntuacion_maquina}}</td>

        </tr>
    </tbody>
    <!--TODO: revisar el estilo del boton-->
    <div class="justify-content">
        <button (click)="borrarMarcador()" type="button" class="btn btn-primary">Borrar</button>
    </div>

</table>
