<form #formulario_alumno="ngForm" (ngSubmit)="crearAlumno(formulario_alumno)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" #nombre="ngModel" id="nombre" class="form-control" name="nombre" [(ngModel)]="alumno.nombre" placeholder="Intro nombre" required pattern=".{4,15}"> 
        <div class="alert alert-danger" [hidden]="nombre.valid||nombre.pristine">
        <!-- <div class="alert alert-danger" [hidden]="!formulario_alumno.submitted"> -->
            Nombre entre 4 y 15 letras
        </div>
    </div>
    <div class="form-group">
        <label for="edad">Edad</label>
        <input type="number" #edad="ngModel" id="edad" class="form-control" name="edad" [(ngModel)]="alumno.edad" placeholder="Intro edad" required min="0" max="130"> 
        <div class="alert alert-danger" [hidden]="edad.valid||edad.pristine">
            La edad debe estar en 0 y 130
        </div>
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" #apellido="ngModel" id="apellido" class="form-control" name="apellido" [(ngModel)]="alumno.apellido" placeholder="Intro apellido" required> 
        <div class="alert alert-danger" [hidden]="apellido.valid||apellido.pristine">
            Apellido obligatorio
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" #email="ngModel" id="email" class="form-control" name="email" [(ngModel)]="alumno.email" placeholder="Intro email" required email> 
        <div class="alert alert-danger" [hidden]="email.valid||email.pristine">
            Introduzca un email válido
        </div>
    </div>

    <br>
    <button type="submit" class="btn btn-primary" [disabled]="!formulario_alumno.valid">CREAR</button>
</form>
